
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

@font-face {
  font-family: 'Wicked';
  src: url('/assets/fonts/Wicked.woff2') format('woff2'),
       url('/assets/fonts/Wicked.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffff;
  background-color: #242424;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/33.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.8);
  opacity: 0.9;
  z-index: -2;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(59, 42, 59, 0.8), rgba(56, 135, 106, 0.8));
  z-index: -1;
}


.puppy-logo {
  display: block;
  margin: 0 auto;
  width: 150px;  
  height: auto;
  border-radius: 15px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-bottom: 15px;
}


h1 {
  text-align: center;
  font-weight: bold;
  padding: 12px; 
  color: white;
  font-size: 2rem; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 12px;
}

.puppy-list {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px; 
  padding-top: 35px; 
  margin-top: 40px; 
  border-radius: 12px;
  max-width: 500px; 
  text-align: center;
}



.puppy-name {
  color: rgb(210, 228, 234);
  font-weight: normal;
  font-size: 1.3rem; 
  margin: 8px; 
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.puppy-name:hover {
  color: #40E0D0;
}


.puppy-details {
  margin-top: 20px;
  padding: 18px; 
  border: 1px SOLID #f4b4ea90;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 400px; 
}

.puppy-details h2 {
  color: white;
  font-weight: normal;
  font-size: 1.2rem;
}


.puppy-details ul {
  list-style: none;
  padding: 0;
  font-size: 1.1rem;
}

.puppy-details li {
  font-size: 1.1rem;
  color: white;
  margin: 6px 0;
}


button {
  font-family: "Roboto Condensed", sans-serif;
  padding: 12px; 
  font-size: 1.1rem; 
  border-radius: 8px; 
  border: 1px solid black;
  cursor: pointer;
  color: black;
  background: linear-gradient(to right, rgba(247, 204, 247, 0.9), rgba(170, 219, 201, 0.9));
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
  box-shadow: 0 2px 4px grey;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
